.post {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    color: #000;
}

.not__published {
    background-color: #ffffff95;
}

img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: .5rem;
}

.top__content {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

figcaption {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.category {
    padding: .3rem .5rem;
    border-radius: .5rem;
    background-color: blueviolet;
    color: #fff;
    font-weight: 600;
    font-size: .8rem;
}

.description {
    margin-top: .8rem;
}

.tags__list {
    gap: 1rem;
}

.post__btns {
    gap: .5rem;
    margin-top: 1rem;
}

.post__btns button:first-child {
    background-color: rgb(244, 59, 59);
    flex-basis: 50%;
    justify-content: center;
}

.post__btns button:last-child {
    flex-basis: 50%;
    justify-content: center;
    background-color: rgb(56, 56, 255);
}
